---
import Footer from '../components/footer.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <div class="content">

    <header>

      <div class="header-content">

        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about-me">Sobre Mí</a></li>
            <li><a href="/projects">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </nav>
  <body>
    <div class="video-background">
      <video autoplay muted loop>
        <source src="/assets/fondo_animado.mp4" type="video/mp4" />
        Tu navegador no soporta videos HTML5.
      </video>
    </div>



    
   

    

    <!-- Footer común -->
    <Footer />
  </body>
</html>
